brotli==1.2.0
flask
flask-cors
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
curl_cffi==0.14.0
idna==3.11
mutagen==1.47.0
pycparser==3.0
pycryptodomex==3.23.0
requests==2.32.5
urllib3==2.6.3
websockets==16.0
yt-dlp==2026.1.31
yt-dlp-ejs==0.4.0
